body {
    display: flex;
    background: url(001.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    margin: auto;

}

.mainbox {
    display: flex;
    width: 600px;
    height: 50rem;
    align-self: center;
    align-items: center;
}

main {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    text-align: center;
    margin: auto;
    position: relative;
    width: 600px;
    border-color: rgba(211, 211, 211, 0.3);
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 19px;
    box-shadow: 1px 1px 1px gray;
}

main h1 {
    color: #624749;
    font-size: 3rem;
    user-select: none;
}

.but {
    margin: auto;
    position: inherit;
    width: 200px;
    height: 60px;
    background-color: rgba(0, 255, 0, 0.9);
    border-style: none;
    border-radius: 13px;
    box-shadow: 1px 1px 1px gray;
    font-size: 1rem;
    color: #624749;
}

img {
    width: 7rem;
    margin: auto;
    background-attachment: fixed;
}

.input {
    background-color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    margin: 1rem;
    width: 70%;
    height: 70px;
    border-style: none none solid none;
    padding: 10px;
    border-radius: 13px;
    font-size: 1.6rem;
    outline: none;
    color: #624749;
}

footer {
    margin: auto;
    width: 80px;
}

.url {
    position: relative;
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    user-select: none;
}

.url a {
    color: #624749;
}

.url a:hover {
    color: #00FF00;
}

::selection {
    background-color: #00FF00;
    color: royalblue;
}